@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/******* || RESET ||  ***********/
*,
*::after,
*::before {
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
}

/******* || GENERAL STYLES ||  ***********/

body {
  font-family: 'Roboto', sans-serif;

  background: #232323;
  color: #fff;
}

input,
button {
  font-family: inherit;
}

main {
  display: flex;
}

/******* || LEFT SIDE ||  ***********/
.left-side {
  width: 50%;
}
.left-side__image {
  max-width: 100%;
  width: 90%;
  display: block;
  height: 100vh;
  object-fit: cover;
  position: relative;
}
.attribution {
  position: absolute;
  z-index: 5;
  bottom: 20px;
  left: 20px;
  text-decoration: none;
  color: #fff;
  background: #232323;
  padding: 0.5rem;
  border-radius: 5px;
}

.highlight--attribution {
  color: #2990ff;
  text-decoration: underline;
  font-weight: bold;
}

/******* || Sign UP ||  ***********/

.sign-up {
  width: 50%;
  padding: 4rem 0 3rem 1rem;
}

.sign-up__heading {
  font-size: 2.5rem;
  letter-spacing: 1px;
  padding-bottom: 3rem;
}

.sign-up__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.field {
  margin: 2rem 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

.field:nth-child(1),
.field:nth-child(2) {
  margin-bottom: 3.5rem;
}

.field__label {
  text-transform: uppercase;
  display: block;
  position: absolute;
  padding-left: 0.5rem;
  z-index: -1;
  top: 9px;
  transition: transform 0.2s ease-out;
  color: gray;
  font-weight: bold;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
}

.field__input {
  width: 70%;
  padding: 0.5rem 0.6rem;
  background: transparent;
  border: 3px solid gray;
  color: #fff;
}

.error {
  font-size: 0.8rem;
  margin-top: 5px;
  color: #ff6ea1;
  visibility: hidden;
}

.field__input:focus {
  border: none;
}
.field__input:valid + .field__label,
.field__input:focus + .field__label {
  background: #006ce0;
  transform: translateX(10px) translateY(-25px);
  font-size: 0.7rem;
  z-index: 1;
  padding: 0.2rem;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
}

.field__input:focus:invalid {
  background: rgba(242, 102, 137, 0.6);
  outline: 3px solid rgb(333, 82, 120);
  border: 3px solid rgb(233, 82, 120);
}

.field__input:valid {
  outline: 4px solid #006ce0;
  border: none;
}

.field__input:focus:invalid + .field__label {
  background: #ec4d85;
  color: #000;
}

.btn {
  padding: 0.8rem 4.3rem;
  font-size: 1rem;

  background: hsl(211, 100%, 44%);
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  transition: background 0.1s ease-in-out;
}

.btn:hover {
  background: hsl(211, 100%, 54%);
}

.login {
  display: block;
  margin-top: 8px;
  color: #919191;
}
.highlight {
  color: #5ba5f4;
  cursor: pointer;
}

@media (max-width: 1000px) {
  body {
    overflow: auto;
  }
  main {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
  }
  .left-side {
    width: 100%;
  }
  .left-side__image {
    width: 100vw;



  }
  .sign-up {
    width: 90vw;
    margin: 0 auto;
    padding: 4rem 0 3rem 1rem;
    text-align: center;
  }

  .error {
    text-align: left;
  }
}

@media (max-width: 650px) {
  .sign-up__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .field {
    text-align: center;

    width: 300px;
    margin: 2rem auto;
  }

  .field__input {
    width: 300px;
  }
  .field__label {
    top: 10px;
    left: 2%;
  }
  .field:nth-child(1),
  .field:nth-child(2) {
    margin-bottom: 1rem;
  }
  .error {
    bottom: -20px;
    left: 0;
  }

  .btn {
    margin: 2rem 0 0;
  }
}
