@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

/******* || RESET ||  *********/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f3f3f3;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  color: #333;
}

body {
  display: grid;
  grid-template-columns: clamp(220px, 25%, 280px) 100fr;
}

@media (max-width: 750px) {
  body {
    grid-template-columns: 1fr;
  }
}

/******* || GENERAL STYLES ||  *********/
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

main {
  padding: 1.5rem 1.8rem 1rem;
}

/******* || HEADER ||  *********/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  display: none;
  cursor: pointer;
}

@media (max-width: 750px) {
  .header__menu {
    display: inline-block;
    margin-right: 10px;
  }
}

.header__content {
  display: flex;
  align-items: center;
}

.header__content--icons {
  border-right: 2px solid rgb(177 177 177);
}

@media (max-width: 550px) {
  .header__content--icons {
    display: none;
  }
}

.header__content .fa-sharp {
  color: orange;
  margin-right: 1.5rem;
  color: rgb(100, 100, 100);
  cursor: pointer;
}

.header__profile {
  display: flex;
  align-items: center;
}

.header__profile--name {
  margin: 0 2rem;
  font-size: 0.8rem;
  font-weight: bold;
}
.header__profile--img {
  width: 60px;
  height: 50px;
  border-radius: 50%;
}

/******* || SECTION INFO ||  *********/
.info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

@media (max-width: 1050px) {
  .info {
    grid-template-columns: repeat(2, 1fr);
  }
}

.info__card {
  background: #fff;
  display: grid;
  place-content: center;
  padding: 1.5rem 0;
  border-radius: 10px;
  border: 3px solid #e4e3e3;
  text-align: center;
}

.info__card--title {
  color: #70758f;
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}

.info__card--number {
  font-size: 2.5rem;
  font-weight: 700;
}
.info__card:hover {
  border: 3px solid #5c5cff;
}
.info__card:hover .info__card--title,
.info__card:hover .info__card--number {
  color: #5c5cff;
}
/******* || NAV ||  *********/

nav {
  background: #363740;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s ease-in-out;
}

.nav__close {
  position: absolute;
  color: rgb(212, 212, 212);
  top: 15px;
  right: 15px;
  cursor: pointer;
  display: none;
  transition: transform 0.1s ease-in-out, color 0.1s ease-in-out;
}

@media (max-width: 750px) {
  .nav {
    position: fixed;
    transform: translateX(-300px);
    z-index: 100;
    background: #363740;

    top: 0;
    left: 0;

    width: 280px;

  }
  .nav__close {
    display: block;
  }
}

.nav__close:hover {
  color: rgb(228, 57, 57);
  transform: scale(1.1);
}

.nav__logo {
  display: flex;
  margin-top: 1rem;
  padding-left: 1.6rem;
}

.nav__logo--img {
  width: 30px;
  margin-right: 0.8rem;
  fill: #fff;
}

.nav__logo--heading {
  font-weight: 900;
  font-size: clamp(1.5rem, 2vw, 4rem);
  color: #fff;
}

.nav__list--primary {
  margin-top: -5rem;
}

.nav__item {
  display: flex;
  align-items: center;

  padding: 1rem 0 1rem 2rem;
  color: hsl(164, 91%, 40%);
  cursor: pointer;
}

.nav__item:hover {
  background: hsla(234, 11%, 52%, 0.5);
  color: hsl(164, 91%, 66%);
}
.nav__link {
  color: currentColor;
}

.nav__item .fa-sharp {
  width: 20px;
  height: 20px;
  margin-right: 30px;
}

/* Navigation Toggle Clasess */
.move__right {
  transform: translateX(0px);
}
nav .move__left {
  transform: translateX(-300px);
}

/******* || SECTION TRENDS ||  *********/
.trends {
  display: grid;
  grid-template-columns: 6fr 4fr;

  margin-top: 1.5rem;

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

@media (max-width: 900px) {
  .trends {
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
  }

  .trends__table {
    border-left: 3px solid #e4e3e3;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .trends__graph--img {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.trends__graph {
  position: relative;
}

.trends__graph--img {
  position: relative;
  background: #fff;
  border-top: 3px solid #e4e3e3;
  border-bottom: 3px solid #e4e3e3;
  border-left: 3px solid #e4e3e3;
  border-right: 3px solid #e4e3e3;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 100%;
  object-fit: cover;
}

.trends__graph--caption {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  font-weight: bold;
  font-size: 1.2rem;
  z-index: 10;
}

.trends__table {
  background: #fff;
  border-top: 3px solid #e4e3e3;
  border-bottom: 3px solid #e4e3e3;
  border-right: 3px solid #e4e3e3;
  text-align: center;

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.table__column {
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.table__column:not(.table__column:last-of-type) {
  border-bottom: 2px solid #e4e3e3;
}

.table__column--heading {
  color: #70758f;
  font-weight: bold;
  font-size:0.9rem;
}

.table__column--description {
  font-size: 1.7rem;
  font-weight: 600;
}
