@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

:root {
  /* ### Theme 1 */

  /* #### Backgrounds */
  --theme-one-main-bg: hsl(222, 26%, 31%);
  --theme-one-toggle-keypad-bg: hsl(223, 31%, 20%);
  --theme-one-screen-bg: hsl(224, 36%, 15%);

  /* #### Keys */
  --theme-one-key-background: hsl(225, 21%, 49%);
  --theme-one-key-shadow: hsl(224, 28%, 35%);

  --theme-one-red-key-bg-toggle: hsl(6, 63%, 50%);
  --theme-one-dark-red-key-shadow: hsl(6, 70%, 34%);

  --theme-one-light-grayish-orange-key-bg: hsl(30, 25%, 89%);
  --theme-one-grayish-orange-key-shadow: hsl(28, 16%, 65%);

  /* #### Text */
  --theme-one-text-dark-blue: hsl(221, 14%, 31%);
  --theme-one-text-white: hsl(0, 0%, 100%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'League Spartan', sans-serif;
  background: var(--theme-one-main-bg);
  min-height: 100vh;
  display: grid;
  place-content: center;
}
button,
input {
  font-family: inherit;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
main {
  margin: 0 2.4rem;
  width: 54rem;
}
/* header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  color: var(--theme-one-text-white);
  margin-bottom: 3.2rem;
}

.header__heading {
  font-size: 3.2rem;
}
.header__field {
  display: flex;
  align-items: center;
}
.header__label {
  font-size: 1.2rem;
  margin-right: 2.6rem;
  text-transform: uppercase;
  color: var(--theme-one-text-white);
  letter-spacing: 1px;
}

.header__input {
  -webkit-appearance: none;
  appearance: none;
  background: var(--theme-one-toggle-keypad-bg);
  border-radius: 20px;
  padding: 0.3rem;
  width: 7.1rem;
  accent-color: var(--theme-one-red-key-bg-toggle);
}
.header__input:hover {
  accent-color: hsl(6, 93%, 67%);
}
.header__output {
  position: absolute;
  top: -12px;
  right: -3px;
  font-weight: bold;
  font-size: 1.2rem;
  font-weight: bold;
}
.output__number {
  margin-right: 1.4rem;
}

/* Result Screen */
.calculator__screen {
  background: var(--theme-one-screen-bg);
  color: var(--theme-one-text-white);
  text-align: right;
  border-radius: 10px;
  margin-bottom: 2.4rem;
  padding: 2rem 3.2rem 2.5rem;
}
.calculator__last {
  font-size: 2rem;
  padding: 1rem 0 2rem;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}
.calculator__result {
  font-size: 4rem;
}

/* Calculator Buttons */
.calculator__buttons {
  background: var(--theme-one-toggle-keypad-bg);
  padding: 3.2rem;
  border-radius: 10px;
  display: grid;
  /* grid-template-columns: repeat(1,4fr); */
}
.calculator__row {
  display: flex;
}
.btn {
  background: var(--theme-one-light-grayish-orange-key-bg);
  font-size: 4rem;
  border: none;
  border-radius: 10px;
  width: 101px;
  height: 64px;
  font-weight: bold;
  color: var(--theme-one-text-dark-blue);

  box-shadow: inset 0 -4px 0 var(--theme-one-grayish-orange-key-shadow);
}
.btn:hover {
  background-color: hsl(60, 100%, 100%);
}
.btn:active {
  transform: translateY(3px);
}
.calculator__row:not(:last-child) {
  margin-bottom: 2.4rem;
}
.calculator__row .btn:not(:last-of-type) {
  margin-right: 2.4rem;
}

.btn--del,
.btn--reset,
.btn--equal {
  font-size: 2.8rem;
}
.btn--del,
.btn--reset {
  background: hsl(224, 21%, 49%);
  color: var(--theme-one-text-white);
  text-transform: uppercase;
  box-shadow: inset 0 -4px 0 hsl(225, 28%, 35%);
  letter-spacing: -0.47px;
}
.btn--del:hover,
.btn--reset:hover {
  background: hsl(225, 51%, 76%);
}

.btn--reset {
  width: 50%;
}
.btn--equal {
  width: 50%;
  color: var(--theme-one-text-white);
  background: var(--theme-one-red-key-bg-toggle);
  box-shadow: inset 0 -4px 0 var(--theme-one-dark-red-key-shadow);
}
.btn--equal:hover {
  background: hsl(6, 93%, 67%);
}

/* Mobile Responsive Design */
@media (max-width: 600px) {
  main {
    width: 32.7rem;
  }

  /* Result Screen */
  .calculator__screen {
    padding: 1.5rem 2.4rem 1.5rem;
  }
  .calculator__last {
    font-size: 1.7rem;
    padding: 1rem 0 2rem;
  }
  .calculator__result {
    font-size: 3rem;
  }

  .btn {
    width: 6rem;
    height: 6.4rem;
  }
  .calculator__row:not(:last-child) {
    margin-bottom: 1.3rem;
  }
  .calculator__row .btn:not(:last-of-type) {
    margin-right: 1.3rem;
  }
  .calculator__buttons {
    padding: 2.4rem;
  }
  .btn--reset {
    width: 50%;
  }
  .btn--equal {
    width: 50%;
  }
}
