/******* || VARIABLES ||  ***********/
:root {
  /* || Colors || */
  --dark-color: #1f2937;
  --primary-white: #f9faf8;
  --secondary-white: #e5e7eb;
  --btn-color: #3882f6;

  /* || Typography || */
  --h1-size: 48px;
  --h2-size: 36px;
  --p-large-size: 18px;
  --logo-text-size: 24px;
}
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lakki+Reddy&display=swap');

/******* || RESET ||  ***********/
*,
*::after,
*::before {
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
}

/******* || GENERAL STYLES ||  ***********/

body {
  font-family: 'Oswald', sans-serif;
  background: rgb(43, 36, 36);
  color: #fff;
  line-height: 1.7;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4 {
  font-family: 'Lakki Reddy', cursive;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

/******* || UTILITY CLASSES ||  ***********/
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.background-dark {
  background: var(--dark-color);
  width: 100%;
}

.center {
  text-align: center;
}
.btn {
  padding: 0.8rem 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  letter-spacing: 0.5px;
}

.btn-primary {
  background: hsl(215, 95%, 77%);
  margin-top: 1.5rem;
}

.btn-primary:hover {
  background: hsl(215, 95%, 87%);
}
/******* || HERO SECTION ||  ***********/

/* || Header || */
.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}
.header__logo {
  font-weight: bold;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.header__logo:hover {
  cursor: pointer;
  color: hsl(215, 90%, 92%);
}

.header__list {
  display: flex;
  list-style: none;
}
.header__item {
  padding: 0 1rem;
  padding-right: 1rem;
}
.header__item:last-child {
  padding-right: 0;
  padding-left: 1rem;
}

.header__link {
  color: hsl(215, 90%, 92%);
  font-weight: bold;
}

.header__link:hover {
  color: hsl(215, 90%, 83%);
}

/* || HERO || */
.hero {
  padding: 3rem 0;
  display: flex;
}

.hero__content {
  margin-right: 5rem;
}

.hero__heading {
  font-size: 3rem;
  margin-bottom: 0.7rem;
  margin-top: 0;

  margin-top: -1.3rem;
}

.hero__paragraph {
  width: 90%;
  font-size: 15px;
}

.hero__img {
  width: 50%;
  height: 350px;
  border-radius: 15px;
}
/* Monochromatic Colors #1F2937 #D9E8FD #8DBCFC #6B737D #7196C9 */




/******* || Features ||  ***********/
.background-light-blue {
  background: #7196c9;
}
.features {
  padding: 1.5rem 0;
}

.features__heading {
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.features__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.features__card {
  margin: 0 1rem;
}
.features__img {
  border-radius: 10px;
  width: 400px;
  height: 300px;

}
.features__paragraph {
  font-size: 14px;
  margin-top: 0.5rem;
}
