/******************************************
// ###           General Setup         ####
*******************************************/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ededed;
  color: #333333;
}

button,
input {
  font-family: inherit;
}

button,
input {
  cursor: pointer;
  border: none;
  transition: transform 0.2s ease-in-out;
  margin-bottom: 1.5rem;
}

section {
  display: flex;
  flex-direction: column;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/******************************************
// ###               Main                ####
*******************************************/
.heading {
  text-align: center;
  margin-top: 2rem;
  font-size: clamp(5rem, 2rem + 3vw, 8rem);
  letter-spacing: 1px;
  font-weight: bold;
}

.sketch {
  width: 300px;
  height: 300px;
  background: #fff;
  margin: 2.5rem auto;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.range {
  font-size: 1.5rem;
}
input[type='color'] {
  width: 80px;
  height: 80px;
  border: none;
  font-size: 3rem;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn {
  border: 1px solid black;
  color: #333;
  width: 145px;
  height: 40px;
  border-radius: 3px;
  transition: transform 0.2s linear;
  font-size: 1.6rem;
}

.btn:hover,
input[type='color']:hover {
  transform: scale(1.05);
}

.active {
  background: #333;
  color: #fff;
}

@media (min-width: 650px) {
  section {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3rem;
  }

  .sketch {
    width: 400px;
    height: 400px;
    margin: 2.5rem auto;
    margin-right: 2rem;
  }
  .btn {
    width: 180px;
    height: 40px;
    margin-bottom: 2rem;
  }
}

@media (min-width: 900px) {
  .sketch {
    width: 600px;
    height: 400px;
  }
}
.sketch {
  display: flex;
  flex-wrap: wrap;
}
.sketch div {
  /* background:orange; */
  border: 1px solid black;
}

label {
  margin-bottom: 0.5rem;
}
